@import '../../sass/variables.module.scss';

@mixin btnHomepage($color: #ccc, $hover: $black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
	color: $white;
	transition: color 0.25s 0.25s/3;
	position: relative;
	
	&::before,
	&::after {
		border: 0 solid transparent;
		box-sizing: border-box;
		content: '';
		pointer-events: none;
		position: absolute;
		width: 0; height: 0;
		
		#{$vertical}: 0; 
		#{$horizontal}: 0;
	}
  
	&::before {
		$h-side: if($horizontal == 'left', 'right', 'left');
		
		border-#{$vertical}-width: 4px;
		border-#{$h-side}-width: 4px;
	}
	
	&::after {
		$v-side: if($vertical == 'top', 'bottom', 'top');
		
		border-#{$v-side}-width: 4px;
		border-#{$horizontal}-width: 4px;
	}
	
	&:hover {
		color: $white;
		
		&::before,
		&::after {
		border-color: $white;
		transition: border-color 0s, width 0.25s, height 0.25s;
		width: 100%;
		height: 100%;
		}
		
		&::before {
			transition-delay: 0s, 0s, 0.25s;
		}
		
		&::after {
			transition-delay: 0s, 0.25s, 0s;
		}
	}
}

@mixin btnNormal($color: #ccc, $hover: $black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
	color: $white;
	transition: color 0.25s 0.25s/3;
	position: relative;
	
	&::before,
	&::after {
		border: 0 solid transparent;
		box-sizing: border-box;
		content: '';
		pointer-events: none;
		position: absolute;
		width: 0; height: 0;
		
		#{$vertical}: 0; 
		#{$horizontal}: 0;
	}
  
	&::before {
		$h-side: if($horizontal == 'left', 'right', 'left');
		
		border-#{$vertical}-width: 2px;
		border-#{$h-side}-width: 2px;
	}
	
	&::after {
		$v-side: if($vertical == 'top', 'bottom', 'top');
		
		border-#{$v-side}-width: 2px;
		border-#{$horizontal}-width: 2px;
	}
	
	&:hover {
		color: $white;

		&::before,
		&::after {
		border-color: $black-lighter;
		transition: border-color 0s, width 0.25s, height 0.25s;
		width: 100%;
		height: 100%;
		}
		
		&::before {
			transition-delay: 0s, 0s, 0.25s;
		}
		
		&::after {
			transition-delay: 0s, 0.25s, 0s;
		}
	}
}



.btn {
	display: flex;
	justify-content: center;
	text-decoration:none;

	&Homepage {
		height: 100px;
		background-color: rgba( 0, 128, 0, 0.3);
		box-shadow: 0 0 2px $green;
		border-radius: 4px;
		color: $white;
		font-weight: 400;
		font-size: 60px;
		text-shadow: 0 0 2px $green;
		padding: 0 10px;
		font-family: $Montserrat;
		border: 0;
		text-decoration: none;
		cursor: pointer;

		@include btnHomepage($black, $black , 4px, top, left);
	
		&:focus {
			outline:0;
		}
	}

	&Green {
		background-color: $green;
		height: 30px;
		color: $light-green;

		padding: 0 10px;
		font-family: $Montserrat;
		border: 0;
		text-decoration: none;
		cursor: pointer;

		@include btnNormal($black, $black , 4px, top, left);
	
		&:focus {
			outline:0;
		}
	}

	&Orange {
		background-color: $orange;
		height: 30px;
		color: $light-orange;

		padding: 0 10px;
		font-family: $Montserrat;
		border: 0;
		text-decoration: none;
		cursor: pointer;

		@include btnNormal($black, $black , 4px, top, left);
	
		&:focus {
			outline:0;
		}
	}
	
}
